.App {
  text-align: center;
} 

form {
  margin: 10px;
}


/* todos */
section {
  margin: 3em auto;
  max-width: 400px;
}

/* each todo */
article {
  display: flex; 
  /* justify-content: center;  */
  /* ^ to the middle */
  align-items: center; 
  /* ^height to the middle */
}

article > h1 {
  /* only applies to the h1 under the 'article tag'  */
  margin: 0px 20px;
}

article.complete > h1 {
  /* if classname is complete then h1 should be:  */
  text-decoration: line-through;
}

article.complete button {
  cursor: pointer; 
  background: rgba(255, 0, 0, 0.5);
  border: 0.2em solid red ; 
}


article.incomplete button {
  cursor: pointer; 
  background: rgba(0,255,0,0.5);
  border: 0.2em solid green ;
}

